@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import "variables";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $mainFont;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

// ************HEADER

.header {
  height: 100px;
  border-bottom: 1px solid #ececec;
  &-wrap {
    height: inherit;
    @extend %flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &-left,
  &-right {
    @extend %flex;
  }
  &__logo {
    width: 165px;
    line-height: 51px;
    background: url(#{$imageWay}/logo.png) no-repeat;
    font-size: 27px;
    font-weight: 300;
    padding-left: 60px;
    span {
      color: $mainPink;
      font-weight: 400;
    }
  }
  &__form {
    height: 38px;
    display: flex;
    border: $greyBorder;
    border-radius: 3px;
    margin-left: 37px;
    overflow: hidden;
    &-browse {
      width: 87px;
      background-color: #cdcdcc;
      background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
      border-right: $greyBorder;
      @extend %flex;
      justify-content: center;
      font-style: 14px;
      line-height: 32px;
      font-weight: 300;
      letter-spacing: 0.025em;
      color: $fontColor;
      i {
        margin-left: 8px;
      }
    }
    &-input {
      border: none;
      padding: 14px 16px;
      font-family: inherit;
    }
    &-search {
      width: 35px;
      border: none;
      border-left: $greyBorder;
      background: white;
      color: #a4a4a4;
    }
  }
  &-cart {
    margin-left: auto;
    margin-right: 26px;
  }
  &-button {
    width: 130px;
    height: 38px;
    background-color: $mainPink;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    border: none;
    i {
      margin-left: 8px;
    }
  }
}

//***********NAV

.nav {
  height: 51px;
  @extend %flex;
  justify-content: center;
  &-item {
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: $fontColor;
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

//***********SUBSCRIBE

.subscribe {
  margin-top: 97px;
  background: url(#{$imageWay}/bg.jpg) no-repeat center bottom #ccc;
  background-size: cover;
  background-blend-mode: overlay;
  height: 438px;
  &-wrap {
    display: flex;
    height: inherit;
  }
  &__left,
  &__right {
    width: calc(100% - 1px);
  }
  &__left {
    margin-top: 123px;
    display: flex;
    &-wrapimg {
      margin-right: 28px;
    }
    &-text {
      margin: 0;
      width: 411px;
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;
      font-style: italic;
      letter-spacing: 0.025em;
      color: $fontColor;
    }
    &-name {
      font-size: 16px;
      line-height: 26px;
      font-weight: 700;
      letter-spacing: 0.025em;
      color: $mainPink;
      margin-bottom: 0;
    }
    &-form {
      font-size: 12px;
      line-height: 14px;
      font-weight: 300;
      color: $fontColor;
      margin-top: 0;
    }
    &-switch {
      width: 140px;
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
    }
  }
  &__midle {
    width: 1px;
    background: #e3e3e3;
  }
  &__right {
    @extend %flex;
    flex-direction: column;
    justify-content: center;
    &-title {
      font-size: 24px;
      line-height: 40px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.025em;
      color: $fontColor;
      margin: 0;
    }
    &-text {
      font-size: 14px;
      line-height: 18px;
      margin: 0;
    }
    &-form {
      height: 46px;
      margin-top: 35px;
      input {
        height: inherit;
        width: 334px;
        border: none;
        outline: none;
        padding: 0 28px;
        font-weight: 700;
        background-color: #e1e1e1;
        border-top-left-radius: 23px;
        border-bottom-left-radius: 23px;
        float: left;
      }
      button {
        background-color: $mainPink;
        border-top-right-radius: 23px;
        border-bottom-right-radius: 23px;
        color: white;
        border: none;
        height: inherit;
        padding: 0 20px;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

.switchitem {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  &:hover {
    background-color: $mainPink;
    cursor: pointer;
  }
}

//***********FOOTER

footer {
  margin-top: 100px !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer {
  &__brand {
    width: 427px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #898989;
    &-logo {
      width: 165px;
      line-height: 51px;
      background: url(#{$imageWay}/logo.png) no-repeat;
      font-size: 27px;
      font-weight: 300;
      padding-left: 70px;
      span {
        color: $mainPink;
        font-weight: 400;
      }
    }
    &-text1 {
      margin: 30px 0;
    }
  }
  &__column {
    nav {
      display: flex;
      flex-direction: column;
    }
    &-titel {
      font-size: 18px;
      line-height: 26px;
      font-weight: 700;
      letter-spacing: 0.025em;
      color: $mainPink;
      margin: 0 0 30px;
    }
    &-href {
      text-decoration: none;
      font-size: 16px;
      line-height: 40px;
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #898989;
      &:hover {
        color: $mainPink;
      }
    }
  }
}

//*********COPYRIGHTS

.copyrights {
  height: 80px;
  background: #e6e6e6;
  &-wrap {
    margin-top: 100px;
    color: #7a7a7a;
    height: inherit;
    @extend %flex;
    justify-content: space-between;
  }
  &__right {
    display: flex;
    width: 200px;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: inherit;
    }
    i {
      width: 32px;
      height: 32px;
      background: white;
      @extend %flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      &:hover {
        color: white;
        background: $mainPink;
      }
    }
  }
}
