@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/************HEADER*****************8*/

.header {
  height: 100px;
  border-bottom: 1px solid #ececec;
}

.header .container {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__logo {
  background: url(/img/logo.png) no-repeat;
  width: 169px;
  height: 51px;
  display: flex;
  align-items: center;
  display: block;
  padding-left: 72px;
  text-decoration: none;
  font-family: Lato;
  font-size: 27px;
  line-height: 50px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
}

.header__logo-d {
  font-weight: 900;
  color: #f16d7f;
  margin-left: -5px;
}

.header__form {
  height: 38px;
  display: flex;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-left: 37px;
  overflow: hidden;
}

.header__form-browse {
  width: 87px;
  background-color: #cdcdcc;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border-right: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
}

.header__form-browse i {
  margin-left: 8px;
}

.header__form-input {
  border: none;
  padding: 14px 16px;
  font-family: inherit;
}

.header__form-search {
  width: 35px;
  border: none;
  border-left: 1px solid #e6e6e6;
  background: white;
  color: #a4a4a4;
}

.header-cart {
  margin-left: auto;
  margin-right: 26px;
}

.header-button {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  border: none;
}

.header-button i {
  margin-left: 8px;
}

/***********NAV****************************/

.nav {
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

/**********PROMO*******************/

.promo {
  height: 614px;
  background-color: #e8e8e8;
}

.promo .container {
  height: inherit;
  background: url(/img/mainman.jpg) no-repeat top 0 center;
  display: flex;
  align-items: center;
}

.promo__text {
  height: 92px;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
  font-weight: 900;
}

.promo__text-top {
  font-size: 60px;
  line-height: 0.68;

  letter-spacing: 0.025em;
  color: #222222;
}

.promo__text-bottom {
  font-size: 40px;
  margin-top: 11.3px;
}

.promo__text-bottom span {
  color: #f16d7f;
}

/*****************OFFERS******************/

.offers .container {
  margin-top: 98px;
  height: 823px;
  position: relative;
}

.offers__1 {
  width: 560px;
  height: 542px;
  background: url(/img/man.jpg) no-repeat;
}

.offers__2 {
  margin-top: 20px;
  width: 560px;
  height: 261px;
  background: url(/img/purse.jpg) no-repeat;
}

.offers__3 {
  width: 560px;
  height: 261px;
  background: url(/img/women.jpg) no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}

.offers__4 {
  width: 560px;
  height: 542px;
  background: url(/img/kid.jpg) no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
}

.offers__label {
  padding: 16px 20px;
  background: white;
  display: inline-block;
  margin-top: 26px;
  font-weight: 900;
}

.offers__label-top {
  font-size: 18px;
  line-height: 1.2;

  letter-spacing: 0.025em;
  color: #222222;
}

.offers__label-bottom {
  font-size: 30px;
  color: #f16d7f;
}

/************PRODUCTS************/

.products {
  height: 982px;
  margin-top: 100px;
}

.products-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
  margin: 0;
  text-align: center;
}

.products-text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
  text-align: center;
  margin: 0;
}

.products__box {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
}

.boxitem {
  width: 261px;
  height: 279px;
  margin-bottom: 122px;
  position: relative;
}

.boxitem__hover-wrap {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  width: 135px;
  margin-top: 94px;
  margin-left: 63px;
}

.boxitem__hover {
  position: absolute;
  height: 280px;
  width: 261px;
  background-color: rgba(58, 56, 56, 0.83);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  opacity: 0;
}

.boxitem__hover:hover {
  opacity: 1;
}

.boxitem__hover-cart {
  padding-left: 12px;
}

.boxitem__hover-add {
  padding: 15px 13px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.boxitem:not(:nth-child(4)):not(:nth-child(8)) {
  margin-right: 32px;
}

.products__label {
  padding: 20px 15px;
  display: inline-block;
}

.products__label-top {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 9px;
}

.products__label-bottom {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}

.products-button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  font-size: 16px;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  border: none;
  padding: 0;
  margin-top: 18px;
}

.products-button:active {
  border: none;
}

.products-button i {
  color: #fff;
  margin-left: 9px;
}

/***********DISCOUNT*************/

.discount {
  height: 529px;
  margin-top: 113px;
}

.discount-wrap {
  display: flex;
}

.discount__women {
  height: 529px;
  width: 767px;
  background: url(/img/snow.jpg) no-repeat;
}

.discount__women-label {
  font-weight: 700;
  color: #ffffff;
  margin-top: 146px;
  margin-left: 39px;
}

.discount__label-top {
  font-size: 53.7px;
  line-height: 1.2;
  letter-spacing: 0.025em;
}

.discount__label-top span {
  color: #f16d7f;
}

.discount__label-botton {
  font-size: 32.2px;
}

.discount__offers {
  position: relative;
  height: 529px;
  width: 373px;
  background-color: #222224;
  padding-left: 114px;
}

.discount__offers-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.title1 {
  margin-top: 50px;
}

.title2 {
  margin-top: 55px;
}

.title3 {
  margin-top: 55px;
}

.discount__offers-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  width: 219px;
  margin-top: 17px;
}

.title1::before {
  content: url(/img/car.svg);
  position: absolute;
  left: 36px;
}

.title2::before {
  content: url(/img/discount.svg);
  position: absolute;
  left: 36px;
}

.title3::before {
  content: url(/img/crown.svg);
  position: absolute;
  left: 36px;
}
